* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(248, 237, 223);
    font-family: "montserrat", sans-serif;;
}
.body-container {
    margin: 75px 320px ;
    max-width: 40rem;
}
img {
    float: left;
    height: 420;
    width: 340px;
    border-radius: 20px 0 0 20px;
}
.text-container {
    background-color: whitesmoke;
    width: 670px;
    height: 510px;
    padding: 20px;
    border-radius: 0 20px 20px 0;
}
.list, h1, h4, p {
    border: 10px ;
    padding-left: 180px;
    padding-bottom: 20px;
 }
 .list > p:first-child {
    letter-spacing: 7px;
    color: rgb(128, 128, 128);
    padding-top: 30px;
    font-size: smaller;
 }
 .list > p:last-child {
    color: #777;
    margin: 1rem 0;
    line-height: 1.5rem;
    text-transform: lowercase;
    font-size: large;
}
 .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .price h1 {
    color: rgb(66, 145, 108);
    padding-left: 2.3rem;

 }
.price del {
    font-size: 0.9rem;
    color: #777;
    padding-bottom: 1.3rem;
    padding-right: 5rem;
}
.btn img {
    width: 20px;
    height: 20px;
    margin-left: 70px;
    margin-bottom: 8px;
    display: inline-block;
}
button {
    width: 250px;
    height: 40px;
    background-color:  rgb(66, 145, 108);
    border: 0;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding-right: 70px;
    padding-top: 9px;
    margin-left: 18px;
}
.body-container .text-container .btn {
    padding-left: 20px;
    display: flex;
}
